body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    margin-left: 150px;
    margin-right: 150px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

header {
    color: #000000;
    padding: .2em;
}

header h1 {
    margin-bottom: -5px;
}

header p {
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000000;
    padding: .5em;
    transition: background-color 0.5s ease;

}

nav a:hover {
    background-color: #510086;
    color: #fff;
}

section {
    background-color: #fff; /* White background for sections */
    padding: 20px;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 5px 10px 15px rgba(84, 2, 179, 0.1);
}

section a {
    color: #007bff;
    transition: color 0.3s ease;
}

section a:hover {
    color: #024894;
    font-weight: bold;
}

footer {
    color: #000000;
    text-align: center;
    padding: 1em;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

@media only screen and (max-width: 600px) {
    body {
        margin-left: 5px;
        margin-right: 5px;
        
    }
}